#scoreboard {
    width: 800px;
    height: 100px;
    border: solid black;
}

#selection {
    height: 300px;
    width: 800 px;
    border: solid black;
}

td {
    width: 10%;
    border: solid grey;
}

