#board {
    height: 500px;
    width: 500px;
    position: fixed;
}
td {
    border: 2px solid;
    padding: 10px 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
}
table {
    border: solid black;
    margin: auto;
    background-color: black;
}