#board {
    height: 500px;
    width: 500px;
    position: fixed;
}
td {
    border: 2px solid;
    padding: 10px 15px;
    width: 13%;
    height: 13%;
    border-radius: 50%;
    color: white;
}
table {
    border: solid black;
    margin: auto;
    background-color: white;
}
.red {
    background-color: red;
    font-size: 1px;
    color: red;
}

.black {
    background-color: black;
    color: black;
    font-size: 1px;
}

.cell {
    color: green;
}
